$media1680: 1680px;
$black-light: #111;

$--color-primary: #409EFF;
$--color-success: #67c23a;
$--color-warning: #e6a23c;
$--color-danger: #f56c6c;
$--color-info: #909399;

@function theme-color($alpha: 1) {
  //@return rgba(197, 49, 40, $alpha)
  //@return rgba(56, 106, 246, $alpha)
  @return rgba(64, 158, 255, $alpha)
}

@function error-color($alpha: 1) {
  @return rgba(245, 108, 108, $alpha)
}

@function font-color($alpha: 1) {
  //@return rgba(197, 49, 40, $alpha)
  //@return rgba(56, 106, 246, $alpha)
  @return rgba(96, 98, 102, $alpha)
}
