@import "./base";
html {
  height: 100%;
}
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;;
  background-color: #f9f9fb;
}

html, body, p, h1, h2, h3, h4, h5, h6, ul, li {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  outline: none;
}

div, span {
  outline: none;
}

.page-view {
  margin: 20px;
  padding: 20px;
  width: calc(100% - 40px);
  min-height: calc(100% - 40px);
  background-color: white;
}

.box-view {
  padding: 30px;
  background-color: white;
}

.im-card {
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0,21,41,0.12);
  border-radius: 5px;
}


.fade-leave-active,
.fade-enter-active {
  transition: all .5s;
}
.fade-enter {
  opacity: 0;
  transform: translateX(-10px);
}
.fade-leave-to {
  opacity: 0;
  transform: translateX(10px);
}

.padding-20 {
  padding: 20px;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

